$font_color:red;
$background_color: blue;
body{
    color           : $font_color;
    background-color: $background_color
}



/*  designed for login signup buttons  */
button {
    margin: 2% 2% 0% 0%;
  }
  
  