
    <div class="p-5 mb-4 bg-light rounded-3 row" style="margin-top: 10%;">
        <div class="container-fluid py-5 col-md-6">
          <!-- <h1 class="display-5 fw-bold">Ask Questions</h1>
          <h1 class="display-5 fw-bold">Answer Questions</h1> -->
          <p class="col-md-8 fs-4">Sigin yourself </p>
          <p class="col-md-8 fs-4">Create any question in your mind</p>
          <p class="col-md-8 fs-4">Answer any question which you can</p>
          <button  class="btn btn-success"  routerLink="/login" type="button">Login</button>
          <button  class="btn btn-success"  routerLink="/signup" type="button" style="margin-left: 10px;">Signup</button>
        </div>
        <div class="col-md-6">
          <div class="col-md-12">
            <div class="h-100 p-5 text-white bg-dark rounded-3">
              <h2>Ask Questions</h2>
              <!-- <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p> -->
              <!-- <button class="btn btn-outline-light" type="button">Example button</button> -->
            </div>
          </div>
          <div class="col-md-12">
            <div class="h-100 p-5 bg-light border rounded-3">
              <h2>Answer Questions</h2>
              <!-- <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p> -->
              <!-- <button class="btn btn-outline-secondary" type="button">Example button</button> -->
            </div>
          </div>

        </div>
      </div>
  
      <!-- <div class="row align-items-md-stretch">
      
      </div> -->