<div class="row">
  <div class="col-2">

  </div>
  <div class="col-8">
    <form [formGroup]="loginForm" class="form-horizontal">
      <h1>
        <p>Login In </p>
      </h1>
      <div class="form-row form-group">
        <label for="validationDefault01">Email Id Or Mobile No</label>
    
        <input type="text" class="form-control" formControlName="username" [(ngModel)]="user.username"
          autocomplete="true" value="username" name="username" id="username">
        <div *ngIf="loginForm.controls['username'].errors != undefined && formSubmitted" class="errorMSg">
          <div *ngIf="loginForm.controls['username'].errors.required">
            Please enter username
          </div>
          <div *ngIf="loginForm.controls['username'].errors.minlength">
            Please enter valid username
          </div>
          <div *ngIf="loginForm.controls['username'].errors.maxlength">
            Please enter valid username
          </div>
          <div *ngIf="loginForm.controls['username'].errors.pattern">
            Please enter valid username
          </div>
        </div>
      </div>

  

      <div>
        <a href="" (click)="forgotpassword()">Send Password to Email or Mobile No</a>
      </div>


    </form>

  </div>