.note
{
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(left, #51ff00, #11c59e);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}



/*  designed for login signup buttons  */
button {
    margin: 2% 2% 0% 0%;
  }
  
  

   