<!-- <div class="card shadow-sm">
    <div class="card-header bg-transparent border-0">
      <h3 class="mb-0"><i class="far fa-clone pr-1"></i>General Information</h3>
    </div>
    <div class="card-body pt-0"> -->
      <table class="table table-bordered">
        <tr>
          <th width="30%">Email</th>
          <td width="2%">:</td>
          <td>{{user.username}}</td>
        </tr>
        <tr>
          <th width="30%">Name	</th>
          <td width="2%">:</td>
          <td>{{user.fullName}} </td>
        </tr>
      </table>
     
    <!-- </div>
  </div> -->
<!-- 
  <div class="card">
    <img src="assets/template/img/profile-img.jpg" alt="John" style="width:100%">
    <h1>John Doe</h1>
    <p class="title">CEO & Founder, Example</p>
    <p>Harvard University</p>
    <div style="margin: 24px 0;">
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a>  
      <a href="#"><i class="fa fa-linkedin"></i></a>  
      <a href="#"><i class="fa fa-facebook"></i></a> 
    </div>
    <p><button>Contact</button></p>
  </div> -->